version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: clinica-db
    ports:
      - "5432:5432"
    environment:
     # POSTGRES_DB: clinica_digital_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: